body {
    background-color: Orange;
    color: Blue;
}
h1, h2 {
    color: Blue;
}
#button {
    color: white;
    border: 1px solid silver;
    background-color: black;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}